.btn {
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px ;
  font-size: (12/$base-size) * 1rem;
  transition: all .2s ease;

  &--primary {
    background: $color-button;
    color: #FFF;

    &:hover {
      text-decoration: none;
      color: #FFF;
      background: darken($color-button, 5%);
    }
  }
}
