.calendar {

  .sidebar-box__content {
    padding: 16px 28px;
  }
}
/* Month header */
.month {
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid $color-border;
  padding: 8px 14px;
  margin-bottom: 1rem;

  ul {
    @include list-reset();

    li {
     color: #000;
      font-size: (14/$base-size) * 1rem;
     text-transform: uppercase;
     letter-spacing: 3px;
    }
  }

  .prev {
    float: left;
    color: $color-links;
    cursor: pointer;
  }

  .next {
    float: right;
    color: $color-links;
    cursor: pointer;
  }
}


/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  font-size: (11/$base-size) * 1rem;

  li {
     display: inline-block;
     width: 13.3%;
     color: #666;
     text-align: center;
 }
}

.days {
  padding: 10px 0;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  text-align: center;
  font-size: (13/$base-size) * 1rem;
  padding: 8px 10px;
  cursor: pointer;
  border: 2px solid transparent;

  &:hover {
      border: 2px solid $color-border;
  }

  a {
    @include link(colorOnly, #777, #777);


    &.active {
        font-weight: bold;
        color: #000;
    }

    &.has-event {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: .8rem;
        height: 1px;
        background: $brand-primary;
        transform: translateX(-50%);
        left: 50%;
      }
    }
  }
}
