.sidebar-box {
  margin-bottom: 20px;

  &__heading {
  padding: 20px 28px;
  border: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  border-radius: 4px 4px 0 0;
  background: #FFF;
  font-size: (18/$base-size) * 1rem;
  font-family: $font-secondary;
  color: $brand-primary;
  font-weight: normal;
  margin-bottom: 0;
  position: relative;
  cursor: pointer;

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      background: $color-border;
      right: 28px;
      transform: translateY(-50%);
      top: 50%;
      transition: all .2s ease;
    }

    &:before {
      width: 16px;
      height: 3px;
    }

    &:after {
      width: 3px;
      height: 16px;
      right: 34px;

    }
    &:hover {

      &:after, &:before {
        background: #000;
      }
    }

    &.colapsed {
      &:after {
        height: 0px;
      }
    }
  }

  &__content {
    background: #FFF;
    border-style: solid;
    border-color: $color-border;
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;

    &.notifier {
      border:none;
      background: none;
    }
  }
}

.notifier {

  &__list {
    @include list-reset();
    background: #FFF;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
  }

  &__item {
    padding: 14px 28px;
    border-bottom: 1px dotted $color-border;
    transition: background .2s ease;

    &:hover {
      background: rgba(#dae6d5, .2);
    }
  }

  &__content-block {
    display: inline-block;
    width: calc(100% - 5rem);
  }

  &__username {
    @include link(true, $color-links, $color-links);
    display: block;
  }

  &__content {
    font-style: italic;
    color: $color-button;
    font-size: (14/$base-size) * 1rem;
    background: none;
  }

  &__publish-date {
    color: $brand-primary;
    font-size: (12/$base-size) * 1rem;
  }

  &__footer {
    background: #FFF;
    border-color: $color-border;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 4px 4px;
    padding: 28px;

    .btn {
      width: 100%;
    }
  }
}

.activity {
  @include list-reset();

  &__item {
    padding: 20px 28px 20px 55px ;
    border-bottom: 1px dotted $color-border;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__type {
    position: relative;
    text-transform: uppercase;
    font-size: (12/$base-size) * 1rem;
    margin-bottom: 4px;

    i {
      position: absolute;
      font-size: 1.7em;
      left: -32px;
      color: $brand-primary;
    }
  }

  &__title {
    @include link(colorOnly, $color-links, $brand-primary);
    font-size: (14/$base-size) * 1rem;
    display: block;
    margin-bottom: 12px;
  }

  &__updated {
    color: $brand-primary;
    display: inline-block;
    font-size: (12/$base-size) * 1rem;
    margin-right: 16px;

    i {
      font-size: (14/$base-size) * 1rem;
      margin-right: 4px;
    }
  }

  &__comments {
    font-size: (12/$base-size) * 1rem;
    display: inline-block;

    i {
      font-size: (14/$base-size) * 1rem;
      margin-right: 4px;
      color:  $brand-primary;
    }
  }
}

.sidebar-box__content--podnik {

  .activity__type i {
    top:0;
  }
}


.online-users {
  float: left;
  width: 100%;

  &__statusbar {
    font-size: (12/$base-size) * 1rem;
    padding: 20px 28px 20px 55px;
    border-bottom: 1px dotted $color-border;
    position: relative;

    .icon-users {
      position: absolute;
      font-size: 1.7em;
      left: 26px;
      color: #ca6d2f;
    }
  }

  &__list {
    @include list-reset();
    padding: 20px 28px;
    overflow: auto;
  }

  &__item {
    width: 100%;
    float: left;
    position: relative;
    padding: 20px 28px 20px 65px;

    @include mq($from: 500px) {
      width: 50%;
    }

  }

  .avatar-image {
    position: absolute;
    left: 0;
    top: .5rem;
  }
}
